.header {
  background-color: black;
  height: 50px;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header>.btn {
  margin-right: 10px;
  margin-left: 10px;
}

.btnt {
  background-color: blue;
  color: white;
  border-color: blue;
  padding: 5px;
  border-radius: 10px;
}

.btna {
  background-color: red;
  border-color: red;
  padding: 5px;
  border-radius: 10px;
}

.mainbody {
  background-color: aquamarine;
  height: 85vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.formtag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formtag>button {
  background-color: green;
  border-color: green;
  color: white;
  border-radius: 10px;
  padding: 7px;
}

.table {
  border: 2px solid black;
}

tr,
td,
th {
  border: 2px solid black;
  text-align: center;
}

.edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.edit>button {
  background-color: green;
  border-color: green;
  color: white;
  padding: 7px;
  border-radius: 10px
}

.view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.view>button {
  background-color: green;
  border-radius: 10px;
  border-color: green;
  color: white;
  padding: 7px;
}

.viewbtn {
  background-color: blue;
  border-color: blue;
  color: white;
  border-radius: 10px;
}

.editbtn {
  background-color: orange;
  border-color: orange;
  color: black;
  border-radius: 10px;
}

.deletebtn {
  background-color: red;
  color: white;
  border-color: #ff0000;
  border-radius: 10px;
}